<div class="container">
  <div class="loader" *ngIf="loader">
    <img src="../../assets/loader.gif" alt="..." />
    <span>
      Carregando...
    </span>
  </div>
  <div class="wrapper" *ngIf="!loader">
    <div class="herader col-md-12">
      <h1>{{ data.results.city_name }}</h1>
      <h6>{{ data.results.date }} - Humidade: {{ data.results.humidity }}</h6>
    </div>
    <div class="row">
      <div class="wrapper-crd col-md-4" *ngFor="let l of data.results.forecast">
        <div class="card">
          <div class="card-header">
            <h1>{{ l.date }}</h1>
          </div>
          <div class="card-body">
            <div class="card-body-items">
              <div class="temp">max: {{ l.max }}°</div>
              <div class="temp">min: {{ l.min }}°</div>
            </div>
            <div class="footer">
              {{ l.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
